/** HOROSCOPE RESULT CSS **/

.h-result-background {/**BACKGROUND COLOR**/
  padding-top: 30px;
  background-color: #e8fdff;
  width: 100%;
  position: relative;
  text-align: center;
  font-size: 11px;
  padding-bottom: 10px;
}

.sign-result {
  width:100%; 
  display: block; 
  margin:0 auto;
}

.r-title {
  font-size: 10vw;
}

.sign-r-name {
  font-size: 10vw;
}

.horoscope-result-text {
  font-size: 4vw;
}

.name-background {
  margin-top:20px;
  font-size: 8vw;
}