.pfind-out {
  border-radius: 4px;
  border-color: rgba(254, 76, 104, 0.53);
  background-color: #e83c84;
  box-shadow: 0px 2px 0px 0px #d62b72;
  height: 11vw;
  width: 40vw;
  z-index: 63;
  position: relative;
  color: white;
  font-size:5vw;
  font-weight: 700;
  display: block;
  margin: 0 auto;
}