/.metadata/
/.recommenders/
directoffersadmin/.classpath
directoffersadmin/.project
directoffersadmin/.settings/.jsdtscope

/directoffersadmin/.settings/*
/directoffersadmin/node/*
/directoffersadmin/src/main/webapp/*
/directoffersdata/TelosysTools/*
directoffersadmin/target/directoffers/WEB-INF/lib/hibernate-jpa-2.0-api-1.0.0.Final.jar
directoffersadmin/target/maven-archiver/pom.properties
directoffersadmin/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst

/directoffersadmin/target/*
*.prefs
*.classpath
*.project
/directoffersdata/.settings/*
/Servers/*
/tpayconnector/.settings/*
/directoffersadmin/frontend/release/*
/directoffersadmin/frontend/dev-release/*