<div class="horizontal-scroll">
  <div class="form-group select-page-size-wrap ">
    <label>Partners integrations
      <select class="form-control selectpicker show-tick" title="Rows on page" selectpicker
              ng-model="connectionsPageSize" ng-options="i for i in [5,10,15,20,25]">
      </select>
    </label>
  </div>
  <table class="table table-hover" st-table="displayConnections" st-safe-src="connections">
    <thead>
      <tr class="sortable">
        <th class="table-id" st-sort="id" st-sort-default="true">Id</th>
        <th st-sort="integrationProtocol">Protocol</th>
        <th st-sort="integrationtype">Integration Type</th>
        <th st-sort="name">Partner name</th>
        <th st-sort="zetaUser">Zeta-Mobile user</th>
        <th st-sort="supportphonenumber">Support phone number</th>
        <th st-sort="supportemail">Support email</th>
      </tr>
      <tr>
        <th colspan="2"><input st-search="name" placeholder="Search by partner name" class="input-sm form-control search-input" type="search"
          /></th>
        <th colspan="2"><input st-search="zetaUser" placeholder="Search by zeta mobile user" class="input-sm form-control search-input" type="search"
          /></th>
        <th colspan="2"><input st-search="supportemail" placeholder="Search by their email" class="input-sm form-control search-input" type="search"
          />
        </th>
      </tr>
    </thead>
    <tbody>
      <tr style="cursor: pointer" ng-repeat="conn in displayConnections" ng-click="rowClick(conn)">
        <td class="table-id">{{conn.id}}</td>
        <td>{{conn.integrationtype}}</td>
        <td>{{conn.integrationProtocol}}</td>
        <td>{{conn.name}}</td>
        <td>{{conn.zetaUser}}</td>
        <td>{{conn.supportphonenumber}}</td>
        <td>{{conn.supportemail}}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="11" class="text-center">
          <div st-pagination="" st-items-by-page="connectionsPageSize" st-displayed-pages="5"></div>
        </td>
      </tr>
    </tfoot>
  </table>
</div>