<div class="horizontal-scroll">
  <div class="form-group select-page-size-wrap ">
    <label>Partners integrations
      <select class="form-control selectpicker show-tick" title="Rows on page" selectpicker
              ng-model="connectionsPageSize" ng-options="i for i in [5,10,15,20,25]">
      </select>
    </label>
  </div>

  <table class="table table-hover" st-table="displayCarriers" st-safe-src="carriers">
    <thead>
      <tr class="sortable">
        <th class="table-id" st-sort="id" st-sort-default="true">Id</th>
        <th st-sort="connections.integrationtype">Integration type</th>
        <th st-sort="connections.name">Partner name</th>
        <th st-sort="networkcode">Operator code</th>
        <th st-sort="name">Operator name</th>
        <th st-sort="countries.localName">Country</th>
      </tr>
      <tr>
        <th colspan="2"><input st-search="name" placeholder="Search by operator name" class="input-sm form-control search-input" type="search"
          /></th>
        <th colspan="2"><input st-search="networkcode" placeholder="Search by operator code" class="input-sm form-control search-input" type="search"
          /></th>
        <th colspan="2"><input st-search="countries.localName" placeholder="Search by country" class="input-sm form-control search-input"
            type="search" />
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="carrier in displayCarriers">
        <td class="table-id">{{carrier.id}}</td>
        <td>{{carrier.connections.integrationtype}}</td>
        <td>{{carrier.connections.name}}</td>
        <td>{{carrier.networkcode}}</td>
        <td>{{carrier.name}}</td>
        <td>{{carrier.countries.localName}}</td>
        <td>{{carrier.statusDate}}</td>
        <td>{{carrier.status}}</td>
        <td>{{carrier.statusReason}}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="11" class="text-center">
          <div st-pagination="" st-items-by-page="carriersPageSize" st-displayed-pages="5"></div>
        </td>
      </tr>
    </tfoot>
  </table>
</div>